* {
  margin: 0;
  padding: 0;
  /* background: lightgray !important; */
  /* color: #0f0 !important; */
  /* outline: 1px solid red !important; */
}
@font-face {
  font-family: "ROG";
  src: url("ASUSROG_REGULAR.TTF");
}

body,
html {
  scroll-padding-top: 6rem;
  /* overflow-x: hidden; */
}
body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, minmax(100vh, auto));
  font: 15px Arial, sans-serif;
  background-color: #000;
  max-width: 100%;
  min-height: 100vh;
}

#header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  top: 0;
  padding: 20px;
  background-color: #000;
}
#header h1 {
  font-size: 2rem;
  font-family: "ROG", "Open Sans", "Helvetica Neue", sans-serif;
  color: #de272c;
}
#header img {
  width: 5rem;
  height: 5rem;
}
#img-container {
  display: flex;
  gap: 40px;
  align-items: center;
}
#img-container h1 {
  color: #f3f3f3;
}

#nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: clamp(10px, 5vw, 100px);
  width: 100%;
  box-sizing: border-box;
  /* padding-right: clamp(10px, 4vw, 40px); */
  min-width: 0;
  font-size: 2rem;
}
a {
  text-decoration: none;
}
a:link {
  color: #f3f3f3;
}
a:hover {
  color: #de272c;
}
a:active {
  color: #de272c;
}
#form {
  box-sizing: border-box;
  margin-top: 99px;
  border-top: 1px solid #f3f3f3;
  display: flex;
  padding: 20px;
  font-size: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://dlcdnwebimgs.asus.com/files/media/C03ED571-0D4B-47B3-90B0-BEF72BB26C05/v1/images/large/1x/pic_kv.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.product-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.product-name h1 {
  color: #f3f3f3;
  font-family: "ROG", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 5rem;
}
.product-name p {
  color: #0ff;
}
.form-content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#email {
  max-width: 100%;
  width: 300px;
  height: 2rem;
  text-align: center;
}
#submit {
  width: 15rem;
  height: 4rem;
  font-size: 2rem;
  background-color: #000;
  color: #f3f3f3;
  border-radius: 40px;
  border: none;
}
.submit-container {
  display: inline-flex;
  padding: 4px;
  grid-area: input;
  border-radius: 40px;
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7e00,
    #ffff00,
    #00ff00,
    #00ffff,
    #002cff
  );
  width: fit-content;
  height: fit-content;
}
#features {
  display: flex;
  max-width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: #000;
  color: #f3f3f3;
}
#feature-names {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "ul ul ul" ". input .";
  grid-auto-rows: min-content;
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 0;
  gap: 100px;
}
#feature-names ul {
  grid-area: ul;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(10px, 5vw, 100px);
  font-size: 2.5rem;
  align-items: center;
}
#feature-names ul li img {
  width: 8rem;
}

#feature-names input {
  background-color: #000;
  width: 15rem;
  height: 4rem;
  font-size: 2rem;
  color: #f3f3f3;
  border-radius: 40px;
  border: none;
}

.feature-content {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  list-style: circle;
  list-style-position: inside;
}
.feature-content li {
  display: flex;
  justify-content: center;
  flex: 1 1 40rem;
  box-sizing: border-box;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-size: 1.5rem;
}
#How {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
#How iframe {
  width: 50%;
  height: 50%;
}
#Pricing {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  background-color: #000;
}
#Pricing ul {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
  padding: 20px;
  height: 100%;
}
#Pricing ul .Price-options {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 20px;
  padding: 20px;
  color: #fff;
  width: 25rem;
  height: 25rem;
  border: 1px solid #fff;
}
@media only screen and (max-width: 436px) {
  #form {
    background-color: #000;
    background-image: none !important;
    justify-content: center;
    align-items: center;
  }
  #features {
    display: flex;
    flex-direction: column;
  }
  #feature-names {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "ul" "input";
  }
  #feature-names ul {
    grid-area: ul;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 2rem;
    align-items: center;
  }
  .feature-content {
    flex-direction: column;
  }
  .feature-content li {
    display: flex;
    box-sizing: border-box;
    flex: 1;
    gap: 20px;
    padding: 20px;
    font-size: 1.5rem;
  }
  #feature-names .submit-container {
    margin-bottom: 0;
  }
  #How iframe {
    width: 15rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 900px) {
  #header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  #header h1 {
    font-size: 1rem;
  }
  #header img {
    width: 3rem;
    height: 3rem;
  }
  #header #nav-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    top: 0;
    font-size: 1rem;
  }
}
